body {
  background: linear-gradient(#aaeff1, rgb(199, 178, 223));
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  overflow: hidden;
  background-color: #0b3a66;
  margin: 0px;
}

ul div {
  display: flex;
}

header nav ul li {
  padding: 10px;
  float: right;
  font-size: large;
}

header nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: #111;
  border-radius: 15px;
}

header nav img {
  height: 80px;
  margin: 2px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
header nav ul li::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

header nav ul li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header nav ul li::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}*/

/*main p {
  display: flex;
  align-items: start;
}

main img{
  display: flex;
  align-items: end;
}*/

.presentation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}

.presentation img {
  width: 300px;
}

.texte {
  width: 50%;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.photo img {
  width: auto;
}

.buttonProjets,
.buttonLangages,
.buttonLogiciels {
  background-color: #dfe8ff;
  padding: 12px;
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  width: 150px;
  box-shadow: -2px 5px 9px -4px rgba(0, 0, 0, 0.64);
  text-decoration: none;
}

.buttonProjets:hover,
.buttonLangages:hover,
.buttonLogiciels:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.aPropos {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.introAPropos {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.introAPropos h2 {
  font-size: 1.9rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
  align-items: center;
  margin: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.buttons div {
  background-color: #dfe8ff;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.langages,
.logiciels {
  width: 700px;
}

h3 {
  text-align: center;
}

.buttonProjets {
  margin: 20px;
}

.langages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colonne ul div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.colonne {
  columns: 2;
  column-gap: 200px;
  text-align: center;
}

.colonne ul {
  list-style: none;
}

.troplong {
  text-align: start;
}

footer {
  background-color: #52428b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  color: white;
}

footer a {
  color: white;
}

footer img {
  height: 80px;
  margin: 2px;
  padding: 10px;
}

@media screen and (max-width: 500px) {

  .menu {
    display: flex;
    /*flex-wrap: wrap;*/
  }

  .menu div {
    display: flex;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
  }

  .menu div li:first-child {
    display: none;
  }

  .menu li {
    margin: 0px;
    padding: 0px;
  }

  main,
  .presentation,
  .aPropos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .colonne {
    columns: 1;
  }

  .langages,
  .logiciels {
    width: 200px;
    align-items: center;
  }

  nav div:first-child {
    display: none;
  }

  .photo {
    width: 200px;
    float: left;
    display: flex;
  }

  .photo img {
    width: 300px;
  }

  footer {
    flex-wrap: wrap;
    height: 100%;
    padding: 20px;
  }

}