body {
    background: linear-gradient(#aaeff1, rgb(199, 178, 223));
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0b3a66;
    padding: 10px 30px;
    box-sizing: border-box;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    align-items: center;
}

header nav ul li {
    padding: 10px;
    font-size: large;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 17px;
    text-decoration: none;
    font-size: 1.3rem;
}

header nav ul li a:hover {
    background-color: #111;
    border-radius: 15px;
}

header nav img {
    height: 80px;
    margin: 2px;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}


.presentation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    margin-top: 100px;
}

h1 {
    font-size: 4rem;
}

.presentation img {
    width: 300px;
}

.texte {
    min-width: 325px;
    width: 50%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.photo img {
    width: auto;
    height: auto;
}

.buttonProjets,
.buttonCV {
    background-color: #dfe8ff;
    padding: 12px;
    font-size: 1rem;
    border-radius: 25px;
    border: none;
    width: 150px;
    box-shadow: -2px 5px 9px -4px rgba(0, 0, 0, 0.64);
    text-decoration: none;
    color: #0b3a66;
}

.buttonProjets:hover,
.buttonCV:hover {
    background-color: #0b3a66;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.aPropos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.introAPropos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.introAPropos h2 {
    font-size: 1.9rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    align-items: center;
    margin: 20px 20px 50px;
    flex-wrap: wrap;
}

.buttons div {
    background-color: #dfe8ff;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.langages,
.logiciels {
    width: 700px;
}

h3 {
    text-align: center;
}

.buttonProjets {
    margin: 20px;
}

.langages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colonne ul div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.colonne {
    columns: 2;
    column-gap: 200px;
    text-align: center;
}

.colonne ul {
    list-style: none;
}

.troplong {
    text-align: start;
}

footer {
    background-color: #52428b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90px;
    color: white;
}

footer a {
    color: white;
}

footer img {
    height: 80px;
    margin: 2px;
    padding: 10px;
}

#logo_contact {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 500px) {

    .menu li:first-child {
        display: none;
    }

    .menu li {
        margin: 0px;
        padding: 0px;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #0b3a66;
    }

    .menu li {
        text-align: center;
        padding: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .navbar {
        position: relative;
    }

    .menu.active {
        display: flex;
    }

    main,
    .presentation,
    .aPropos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .colonne {
        columns: 1;
    }

    .langages,
    .logiciels {
        width: 200px;
        align-items: center;
    }


    .photo {
        width: 200px;
        float: left;
        display: flex;
    }

    .photo-img {
        min-width: 200px;
        align-self: center;
    }

    footer {
        flex-wrap: wrap;
        height: 100%;
        padding: 20px;
    }

}